.gallery {
    margin-top: 50px;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.photo-card {
    padding: 15px;
    width: 500px;;
    margin-bottom: 30px;

    border: 1px solid black;
    border-radius: 15px;
}

.card-img {
    width: 100%;
    height: auto;
}

.info {
    
}

.info-item {
    
}